doctype html
html
	head
		title Boda-Boda Banja
	body
		div
			form(action="/user/userlist")
				input(type="text" name="firstName" placeholder="Enter your search term.....")
				input(type="submit" name="" value="submit")
				div.col.form-group.col-md-3
			form(method="post" action='/logout')
				button.btn.btn-dark.btn-block(type="submit") Log out
		h1 Boda-Boda Banja
		table
			thead
				tr
					th Name
					th Date
					th Nationaltiy
					th Email
					th Vehicle
					th Contact
					th WorkindDays
					th DateofBirth
					th Password
					th Workid
			tbody
				each customer in customers
					tr
					td #{customer.name}
					td #{customer.Date}
					td #{customer.phone}
					td #{customer.nan}
					td #{customer.nin}
					td #{customer.vehicle}
					td #{customer.refname}
					td #{customer.refnum}
					td #{customer.refwork}
						//- form(method="post" action='/register/delete')
						//- 	input(type="hidden", placeholder="", name="id", value=user._id)
						//- 	button.btn.btn-dark.btn-block(type="submit") Delete
